extends ../layouts/auth

block content
    .container-fluid
        .row-fluid
            .span3
            .span6
                .row-fluid
                    .span12
                        h4(style="color: #fff;") Import DB Dump
                        .widget-box
                         form.form-horizontal(enctype="multipart/form-data")
                          input(type="hidden", name="step", value="import")
                          input(type="hidden", name="overwrite")
                          .widget-title
                            span.icon
                              i.icon-hdd
                            h5 Database
                          .widget-content.nopadding
                              .control-group
                                label.control-label Host
                                .controls
                                  input(type="text", name="host", value="localhost")
                              .control-group
                                label.control-label Username
                                .controls
                                  input(type="text", name="user")
                                  span.help-block Existing mysql user
                              .control-group
                                label.control-label Password
                                .controls
                                  input(type="password", name="password")
                              .control-group
                                label.control-label Database name (configuration)
                                .controls
                                  input(type="text", name="db_config")
                                  span.help-block Name of database configuration
                              .control-group
                                label.control-label Dump
                                .controls
                                  input(type="file", name="file_config")
                                  span.help-block Dump file *.sql
                              .form-actions
                                button.btn.btn-primary(type='submit') Import DB Dump
            .span3
    div(id="modal-dialog", style="display: none;")

    link( rel="stylesheet", href="/css/jquery-ui.css")
    script( src="/js/jquery-ui.custom.js")
    script(src="/js/custom/jquery.validate.custom.js")
    script(src="/js/custom/common.js")

    link(rel="stylesheet", href="/js/modal/loadmask/jquery.loadmask.spin.css")
    script(src="/js/modal/loadmask/spin.min.js")
    script(src="/js/modal/loadmask/jquery.loadmask.spin.js")
    script(src="/js/custom/spin.settings.js")
    script(src="/js/custom/install_import.js")