#header
    h1
#user-nav.navbar.navbar-inverse
    ul.nav.btn-group
        li#btn-apply(class=(statusBtnApply == '0') ? 'btn btn-inverse' : 'btn btn-danger btn-apply')
            a.dropdown-toggle(title="Apply config", href="#", data-toggle="dropdown")
                i.icon.icon-check
                span.text Apply
            ul.dropdown-menu
                if (multi)
                    li
                        a(id="execSendConfig", href="#") Send Config
                    li
                        a(id="execModuleReload", href="#") Module Reload
                    li
                        a(id="execAsteriskRestart", href="#") Restart Asterisk
                else
                    li
                        a(id="execSendConfigAndReload", href="#") Send Config & Reload
                    li
                        a(id="execAsteriskRestart", href="#") Restart Asterisk
        li.btn.btn-inverse
            a.dropdown-toggle(title="Settings", href="#", data-toggle="dropdown")
                i.icon.icon-wrench
                span.text Settings
            ul.dropdown-menu
                li
                    a(href="/password") Change password
        li.btn.btn-inverse
            a(title="", href="/data/auth/logout")
                i.icon.icon-share-alt
                span.text Logout