doctype html
html(lang='en')
    head
        title= title
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link( rel="stylesheet", href="/css/bootstrap.min.css" )
        link( rel="stylesheet", href="/css/bootstrap-responsive.min.css" )
        link( rel="stylesheet", href="/css/jquery-ui.css" )
        include ../includes/callflow-css
        link( rel="stylesheet", href="/css/unicorn.main.css" )
        link( rel="stylesheet", href=style_css, class="skin-color" )
        link( rel="stylesheet", href="/css/select2_3.4.css" )
        link( rel="stylesheet", href="/css/select2-bootstrap.css" )
        link( rel="stylesheet", href="/css/uniform.css" )
    body
        block content
