doctype html
html(lang='en')
    head
        title= title
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link( rel="stylesheet", href="/css/bootstrap.min.css" )
        link( rel="stylesheet", href="/css/bootstrap-responsive.min.css" )
        link( rel="stylesheet", href="/css/jquery-ui.css")
        link( rel="stylesheet", href="/css/colorpicker.css")
        link( rel="stylesheet", href="/css/datepicker.css")
        link( rel="stylesheet", href="/css/uniform.css")
        link( rel="stylesheet", href="/css/select2.css")
        link( rel="stylesheet", href="/css/unicorn.main.css" )
        link( rel="stylesheet", href="/css/custom.css" )
        link( rel="stylesheet", href=style_css, class="skin-color" )

    body
        block content
