extends ../layout
block content
  script(type='text/javascript')
    var currentValidate = [];//{rules: {}, messages: {}};

  .widget-box(style='min-width: 500px; margin-bottom: 0; margin-top: 0;')
    .widget-title
      ul.nav.nav-tabs
        !{html.nav}
    .widget-content.tab-content
      !{html.content}
      
  script(type='text/javascript')
    $(document).ready(function() {
      /*$('[id^="tab"] form').each(function() {
        
        var moduleFieldsForm = $(this).find('[name^="module"]');
        var isEmpty = true;

        if (moduleFieldsForm) {
          $.each(moduleFieldsForm, function(index, field) {
            if ($(field).attr('name').indexOf('item_id') == -1)
              if ($(field).val() > 0 || $(field).val() != '')
                isEmpty = false;
          });
        }
        
        console.log(isEmpty);
        
        
        
        $(this).validate({
          submitHandler: function(form) {
            //$(form).ajaxSubmit();
            console.log(form);
            return false;
          },
          ignore: [],
          rules: currentValidate.rules,
          messages: currentValidate.messages
        });
      });*/
    });