extends ../layout
block content
  script(type='text/javascript')
    var currentValidate = {rules: {}, messages: {}};

  .widget-box(style='min-width: 500px; margin-bottom: 0; margin-top: 0;')
    .widget-title
      ul.nav.nav-tabs
        !{html.nav}
    .widget-content.tab-content
      !{html.content}
      
  script(type='text/javascript')
    $(document).ready(function() {
      $('[id^="tab"] form').each(function() {
        $(this).validate({
          ignore: [],
          rules: currentValidate.rules,
          messages: currentValidate.messages
        });
      });
    });