
extends ../layout

block content

    div.widget-box(style='min-width: 500px; margin-bottom: 0; margin-top: 0;')
        form#form-main.form-horizontal(action='#', method='POST', enctype="multipart/form-data")
            input#id(type='hidden', name='id', readonly, value=req_params.id)
            input#user_id(type='hidden', name='user_id', value=req_params.user_id)
            .control-group
                label.control-label(for='token', style='width: 100px;') Token:
                .controls.left(style='margin-left: 110px;')
                    input#token(type='text', name='token')
                    &nbsp;
                    a#btnGenerateToken.btn
                        i.icon.icon-refresh
                        &nbsp;Generate
            .control-group
                .row-fluid
                    .span6(style='width: 43% !important;')
                        label.control-label(for='begin_date', style='width: 100px;') Start:
                        .controls(style='margin-left: 110px;')
                            input#begin_date.datepicker(type='text', name='begin_date', data-date-format='dd.mm.yyyy')
                    .span6(style='width: 43% !important;')
                        label.control-label(for='end_date', style='width: 100px;') Expires:
                        .controls(style='margin-left: 110px;')
                            input#end_date.datepicker(type='text', name='end_date', data-date-format='dd.mm.yyyy')
                label.control-label(for='active', style='width: 100px;') Active:
                .controls(style='margin-left: 110px;')
                    input#active.input-select2(type='text', name='active', style='width: 81.5%;')
            .control-group
                label.control-label(for='comment', style='width: 100px;') Comment:
                .controls(style='margin-left: 110px;')
                    textarea#comment(name='comment', rows='3', style='width: 80% !important;')

    script(type='text/javascript').

        function getDataByUrl(url, params) {
            var result = {};
            $.ajax({
                type: 'GET',
                url: url,
                data: params,
                dataType: 'json',
                async: false,
                success: function (data) {
                    result = data;
                }
            });
            return result;
        };

        function select2InputNoSearch(obj, json, multiple, custom) {
            if (custom)
                $(obj).select2({
                    createSearchChoice: function (term, data) {
                        if ($(data).filter(function () {
                                    return this.text.localeCompare(term) === 0;
                                }).length === 0) {
                            return {id: term, text: term};
                        }
                    },
                    multiple: multiple,
                    data: json.data,
                    minimumResultsForSearch: Infinity
                }).select2('data', json.data[json.selected]);
            else
                $(obj).select2({
                    multiple: multiple,
                    data: json.data,
                    minimumResultsForSearch: Infinity
                }).select2('data', json.data[json.selected]);
        };

        function getUUID() {
            var dDate = new Date().getTime();

            var sUUID = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(sReplace) {

                dDate = Math.floor(dDate / 16);
                var iRandom = (dDate + Math.random() * 16) % 16 | 0;

                return (sReplace == 'x' ? iRandom : (iRandom&0x3|0x8)).toString(16);

            });

            return sUUID;
        };

        $(document).ready(function() {

            $('a#btnGenerateToken').click(function () {
                $('input#token').val(getUUID());
            });

            $('input#begin_date').datepicker();
            $('input#end_date').datepicker();

            select2InputNoSearch('input#active', {data: [{id: 1, text: 'Yes'}, {id: 0, text: 'No'}]}, false, false);

            var dataToken = getDataByUrl('/data/tokens_manager/getToken', {id: $('input#id').val()});
            if (dataToken.success) {
                $('input#user_id').val(dataToken.rows[0].user_id);
                $('input#active').select2('val', dataToken.rows[0].active);

                $('input#token').val(dataToken.rows[0].token);

                $('input#begin_date').attr('data-date', dataToken.rows[0].begin_date);
                $('input#begin_date').val(dataToken.rows[0].begin_date);

                $('input#end_date').attr('data-date', dataToken.rows[0].end_date);
                $('input#end_date').val(dataToken.rows[0].end_date);

                $('textarea#comment').val(dataToken.rows[0].comment);
            } else {
                $('input#active').select2('val', 1);
            }
        });
