.widget-box(style='min-width: 200px; margin-bottom: 0; margin-top: 0;')
  form#form-main.form-horizontal(action="", method="post", enctype="multipart/form-data")
    .control-group
      label.control-label Select Module Package
      .controls
        input(type="file", name="module_package")
        input(type="submit", name="submit", value="Install", style="display:none;")

script(type="text/javascript", src="/js/modal/common.js")
script(type="text/javascript")
  $('input[type=checkbox], input[type=radio], input[type=file]').uniform();

  
