extends layouts/extensions

block content
    include includes/header-nav

    include includes/sidebar

    //- include includes/style-switcher -//
    div(id="modal-dialog", style="display: none;")
    #content
        include includes/content-header
        .container-fluid
            .row-fluid(style="margin-top: 3px;")
                .span12
                    .widget-box(style="margin-top: 0px;")
                        .widget-title
                        .widget-content.nopadding
                            table( id="tblContent", class="table table-bordered table-striped table-hover")
                                thead
                                    tr
                                        th Id
                                        th Name
                                        th Pattern
                                        th Comment
                            div( style="margin: -38px 0 0 0;", align="center", class="buttons_operation")
                                button(id="btnAdd", class="btn")
                                    i.icon-plus
                                    &nbsp;Add
                                button(id="btnEdit", class="btn dependent", disabled)
                                    i.icon-pencil
                                    &nbsp;Edit
                                button(id="btnDelete", class="btn dependent", disabled)
                                    i.icon-remove
                                    &nbsp;Delete

    style
        .select2-drop {z-index: 99999;}
        .left {text-align: left;}

    include includes/footer

    script(src="/js/select2.min.js")
    script(src="/js/jquery.dataTables.js")
    script(src="/js/custom/dataTableExt.js")

    style
        .table-hover tbody > tr:hover > td {
            background-color: #c3c3c3;
                color: #fff;
        }
        .table-hover tbody > tr.row_selected > td {background: #c3c3c3; color: #fff;}

    script
        var itemId = eval(#{itemId});
        
        var currentRow = {};
               
        var columns = [{"mData":"id"}, {"mData":"name"}, {"mData":"pattern"}, {"mData":"comment"}];
        var columnsDefs = [{"bSearchable": false, "bVisible": false, "aTargets": [0]}];
        var oTable = setDataTableTest('tblContent', '/data/items/list', columns, columnsDefs, 'rule');

        $('#tblContent tr').live('dblclick', function() {openItem();});
        $('#btnEdit').click(function() {openItem();});

        var btns =
            [
                {
                  text: "Save",
                  "class": 'btn',
                  click: function() {
                    if($('form[name="form-basic"]').valid()) {
                        var action = '';
                        var data = '';
                        var self = this;

                        $.ajax({
                             type: 'POST',
                             url: '/data/rules/save',
                             data: $('form[name="form-basic"]').serializeArray(),
                             dataType: 'json',
                             async: false,
                             success: function(data) {
                                 if(data.success) {
                                     //oTable.fnReloadAjax();
                                     window.location = $(location).attr('href').replace('rules', 'callflows') + '/' + data.id_rule;
                                     $(self).dialog('close');
                                     changeBtnApply(1);
                                 } else showDialog('Information', data.message, 'auto', 'auto');
                             }
                        });
                    }
                  }
                }
            ];


        $('#btnAdd').click(function() {
            showDialog('Add Rule', {url:'/modal/rule/add'}, '700', 'auto', btns);
        });

        $('#btnDelete').click(function() {
            $.ajax({
                 type: 'POST',
                 url: '/data/items/getparents',
                 data: {item_id: currentRow.id},//$('form[name="form-basic"]').serializeArray(),
                 dataType: 'json',
                 async: false,
                 success: function(data) {
                    if(data.success) {
                        var list = [];
                        var btnsRule = [
                            {
                              text: "Delete",
                              "class": 'btn',
                              click: function() {
                                    var self = this;

                                    $.ajax({
                                         type: 'POST',
                                         url: '/data/rules/delete',
                                         data: {item_id: currentRow.id},
                                         dataType: 'json',
                                         async: false,
                                         success: function(data) {
                                             if(data.success) {
                                                 oTable.fnReloadAjax();
                                                 $(self).dialog('close');
                                                 changeBtnApply(1);
                                             } else showDialog('Information', data.message, 'auto', 'auto');
                                         }
                                    });
                              }
                            }, 
                            {
                              text: "Cancel",
                              "class": 'btn',
                              click: function() {
                                    $(this).dialog('close');
                              }
                            }
                        ];

                        $.each(data.rows, function(index, el) {
                            list.push(el.parent_name);
                        });

                        if(list = list.join(', ')) {
                            showDialog('Information', '<p align="center">This rule included in the following contexts: <strong>' + list + '</strong>. Delete this rule?</p>', 400, 'auto', btnsRule);
                        } else {
                            showDialog('Information', '<p align="center">Delete this rule?</p>', 400, 'auto', btnsRule);
                        }
                    }
                 }
            });
        });

        function openItem() {
            window.location = '/callflows/' + currentRow.id;//$(location).attr('href').replace('rules', 'callflows') + '/' + currentRow.id;
        }