extends layouts/auth

block content
    #logo
        
    #loginbox
         form(id="loginform", class="form-vertical")
            p Enter username and password to continue.
            .control-group
                .controls
                    .input-prepend
                        span.add-on 
                            i.icon-user 
                        input(type='text', required, name='user', placeholder="Login", value="")
            .control-group
                .controls
                    .input-prepend
                        span.add-on 
                            i.icon-lock
                        input(type='password', required, name='pass', placeholder="Password", value="")
            .form-actions
                // span.pull-left
                //    input( type='button', class="btn btn-info",  value="Registration")
                span.pull-right
                    input( type="submit", class="btn btn-primary",  value="Login")
                    
    .container-fluid
        .span12 &nbsp;
            #message.span4.offset4

    script(src="js/jquery.min.js")
    script(src="js/bootstrap.min.js")
    script(src="js/unicorn.login.js")
            