extends layouts/conference

block content
	include includes/header-nav

	include includes/sidebar

	include includes/style-switcher
	div(id="modal-dialog", style="display: none;")

	div#content
		include includes/content-header
		div.container-fluid
			div.row-fluid
				div.span12
					div.widget-box.widget-calendar
						div#calendar

	include includes/footer

	script( src="/js/jquery.ajax-combobox.7.4.0-alpha.js")
	script( src="/js/fullcalendar.min.js", type="text/javascript", charset="utf-8")


	script
		$(document).ready(function() {

			var calendar = $('#calendar');

			var buttons = [
				{
					text: "Save",
					"class": 'btn',
					click: function() {
						if($('#form-main').valid()) {
							var self = this;
							$.ajax({
								type: 'POST',
								url: '/data/conference/save_conference',
								data: $(self).find('form:first').serializeArray(),
								dataType: 'json',
								async: false,
								success: function(data) {

									if(data.success) {
										$(self).dialog('close');
										changeBtnApply(1);
									}
									else
										showDialog('Information', '<p align="center">'+data.message+'</p>', 'auto', 'auto');

									$('#calendar').fullCalendar('refetchEvents');

								}
							});
						}
					}
				},
				{
					text: 'Delete',
					id: 'delete-conference-bnt',
					class: 'btn',
					style: 'display: none;',
					click: function(){
						var self = this;
						var inputs = $(self).find('form:first').serializeArray();
						var formObj = {};
						
						$.each(inputs, function (i, input) {
							formObj[input.name] = input.value;
						});
						
						var conferenceId = formObj['id'];
						
						var btnsConfirmAction = [
							{
								text: 'Yes',
								class: 'btn btn-primary',
								click: function() {
									$(this).dialog('close');
									
									$.ajax({
										type: 'POST',
										url: '/data/conference/delete_conference',
										data: {
											conferenceId: conferenceId
										},
										dataType: 'json',
										success: function(data) {
										
											if(data.success) {
												showDialog('Success',data.message,'auto','auto', undefined, undefined, function(){$(self).dialog("destroy")});
												changeBtnApply(1);
											}
											else {
												showDialog('Error',data.message,'auto','auto');
											}
											
											$('#calendar').fullCalendar('refetchEvents');
										}
									});
								}
							},
							{
								text: 'No',
								class: 'btn btn-primary',
								click: function() {
									
									$(this).dialog('close');
								}
							}
						];
						
						//Show confirmation window
						showDialog('Delete Confirmation', '<p align="center">Are you sure want to delete this Conference?</p>', 'auto', 'auto', btnsConfirmAction);
					}
				},
				{
					text: 'Cancel',
					"class": 'btn',
					click: function() {
						$(this).dialog("close");
					}
				}
			];

			var beforeOpen = function(){

				$('#calendar').fullCalendar('unselect');

				//Init datepicker
				var start_date = $('#start_date').datepicker().on('changeDate', function(ev) {
					start_date.hide();
					$('#start_date').blur();
				}).data('datepicker');

				//Init timepickers
				$('#start_time').timepicker({
					minuteStep: 15,
					showInputs: false,
					showSeconds: false,
					showMeridian: false
				});
				$('#end_time').timepicker({
					minuteStep: 15,
					showInputs: false,
					showSeconds: false,
					showMeridian: false
				});
				
				//Init Conference Number combobox
				$('input[name=conf_num]').ajaxComboBox(
					'data/conference/get_conference_numbers', {
						lang: 'en',
						button_img: 'img/btn.png',
						plugin_type:'simple',
						onSelect: function(conferenceId){
							console.log(conferenceId);
							console.log('result selected');
							
							if(parseInt(conferenceId)){
								$.ajax({
									type: 'POST',
									url: '/data/conference/get_conference_by_id',
									data: {
										conferenceId: conferenceId
									},
									dataType: 'json',
									async: false,
									success: function(data) {
										if(data.success) {
											$.each(data.data, function(index, el) {
												var form_element = '[name="' + index + '"]';
												if($(form_element).length) {
													if(index == 'title'){
														return;
													}
													else if(index == 'ext_list'){
														
														var ext_list_arr = el.split(',');
														var ext_list = [];
														for(i in ext_list_arr){
															var ext = ext_list_arr[i];
															ext_list.push({id: ext, text: ext});
														}
														
														$('input[name="ext_list"]').select2('data', ext_list);

													}
													else {
														$(form_element).val(el);
													}
												}
											});
							
										} 
										else {
											showDialog('Information', '<p align="center">'+data.message+'</p>', 'auto', 'auto');
										}
									}
								});
							}
						}
					}
				);

			}

			$('#calendar').fullCalendar({
				//confics
				timeFormat: 'H:mm',
				header: {
					left: 'prev,next today',
					center: 'title',
					right: 'month,agendaWeek,agendaDay'
				},
				firstDay: 1,
				selectable: true,
				selectHelper: true,
				editable: true,
				eventLimit: true, // allow "more" link when too many events
				events: "/data/conference/get_events",
				weekends: true,
				
				//actions
				select: function(start, end) {

					var start_date = start.format("YYYY-MM-DD");

					showDialog('Create New Converence', {url:"/modal/conference/conference_modal?start_date=" + start_date + "&action=create"}, '700', 'auto', buttons, beforeOpen);
					
					//Hide Delete Button
					$("#delete-conference-bnt").hide();
				},
				eventClick: function(calEvent, jsEvent, view) {

					var id = calEvent.id;
					var title = calEvent.title;
					var action = 'edit';
					
					var start = calEvent.start;
					var start_date = start.format("YYYY-MM-DD");
					var start_time = start.format("HH:mm");
					
					var end = calEvent.end;
					var end_date = end.format("YYYY-MM-DD");
					var end_time = end.format("HH:mm");
					
					var conf_num = calEvent.conf_num;
					var ext_list = calEvent.ext_list;
					
					var repeat_every = calEvent.repeat_every;

					showDialog('Edit Converence', {url:"/modal/conference/conference_modal?&action=" + action + '&id=' + id + '&title=' + title + '&conf_num=' + conf_num + '&start_date=' + start_date + '&start_time=' + start_time + '&end_time=' + end_time + '&ext_list=' + ext_list + '&repeat_every=' + repeat_every}, '700', 'auto', buttons, beforeOpen);
					
					//Show Delete Button
					$("#delete-conference-bnt").show();
				},
				eventDrop: function( event, delta, revertFunc, jsEvent, ui, view ) {

					//Update confecence start time

					var id = event.id,
						title = event.title,
						action = 'edit',
						start = event.start,
						start_date = start.format("YYYY-MM-DD"),
						start_time = start.format("HH:mm"),
						conf_num = event.conf_num,
						ext_list = event.ext_list,
						repeat_every = event.repeat_every;

					$.ajax({
						url: '/data/conference/save_conference',
						type: 'POST',
						data: {
							id: id,
							title: title,
							action: action,
							start_date: start_date,
							start_time: start_time,
							conf_num: conf_num,
							ext_list: ext_list,
							repeat_every: repeat_every
						},
						dataType: 'json',
						success: function(data) {
							changeBtnApply(1);
						}
					});
				}
			});

		});

