extends layouts/editor

block content
    include includes/header-nav
    
    include includes/sidebar
    #content
        include includes/content-header
        .container-fluid
            .row-fluid
                #editor_tabs.span12
                    ul(id="main-tabs", class="nav nav-pills", style="margin:10px;")
                    div(id="main-tabs-content", class="tab-content")

                        
    include includes/footer

    script(src="/js/modal/ace/ace.js", type="text/javascript", charset="utf-8")
    script(src="/js/modal/ace/mode-ini.js", type="text/javascript", charset="utf-8")
    script(src="/js/custom/editor/editor.js", type="text/javascript", charset="utf-8")