extends layouts/manage_users

block content
	include includes/header-nav

	include includes/sidebar

	include includes/style-switcher
	div(id="modal-dialog", style="display: none;")

	#content
		include includes/content-header
		.container-fluid
			.row-fluid
				.span12
					.widget-box
						.widget-title
						.widget-content.nopadding
							table( id="tblManageUsers", class="table table-bordered table-striped table-hover")
								thead
									tr
										th(width=100) ID
										th Login
										th Name
										th Surname
										th Second Name
							div( style="margin: 5px; margin-top: -35px;", align="center", class="buttons_operation")
								button(id="btnAddMamageUsers", class="btn")
									i.icon-plus
									&nbsp;Add
								button(id="btnEditMamageUsers", class="btn dependent", disabled)
									i.icon-pencil
									&nbsp;Edit
								button(id="btnDeleteMamageUsers", class="btn dependent", disabled)
									i.icon-remove
									&nbsp;Delete
	style
		.select2-drop {z-index: 99999;}
		.left {text-align: left;}

	include includes/footer

	script( src="js/select2.min.js")
	script( src="js/jquery.dataTables.js")
	script( src="js/custom/dataTableExt.js")

	style
		.table-hover tbody > tr:hover > td {
			background-color: #c3c3c3;
				color: #fff;
		}
		.table-hover tbody > tr.row_selected > td {background: #c3c3c3; color: #fff;}

	script

		var currentRow = {};
		var templateJSON = {};
		var modalId = '#modalWindow';

		var columns = [{"mData": "id"}, { "mData": "login"}, {"mData": "name"}, {"mData": "surname"}, {"mData": "secname"}];
		var columnsDefs = [{"bSearchable": false, "bVisible": false, "aTargets": [0]}];
		var oTable = setDataTableTest('tblManageUsers', '/data/manage_users/users_list', columns, columnsDefs);

		var btnsAddMamageUsers = [
			{
				text: "Save",
				"class": 'btn',
				click: function() {
					if($('#form-main').valid()) {
						var self = this;
						$.ajax({
							type: 'POST',
							url: '/data/manage_users/save_user_data',
							data: $(self).find('form:first').serializeArray(),
							dataType: 'json',
							async: false,
							success: function(data) {
								if(data.success) {
									oTable.fnReloadAjax();
									$(self).dialog('close');
					
								} 
								else 
									showDialog('Information', '<p align="center">'+data.message+'</p>', 'auto', 'auto');
							}
						});
					}
				}
			},
			{
				text: 'Cancel',
				"class": 'btn',
				click: function() {
					$(this).dialog('close');
				}
			}
		];

		$('#tblManageUsers tr').live('dblclick', function() {
			showDialog('Edit User', {url:'/modal/manage_users/manage_user_modal?action=edit'}, '800', 'auto', btnsAddMamageUsers);
		});

		$('#btnAddMamageUsers').click(function() {
			showDialog('Add User', {url:'/modal/manage_users/manage_user_modal?action=create'}, '800', 'auto', btnsAddMamageUsers);
		});

		$('#btnEditMamageUsers').click(function() {
			showDialog('Edit User', {url:'/modal/manage_users/manage_user_modal?action=edit'}, '800', 'auto', btnsAddMamageUsers);
		});

		$('#btnDeleteMamageUsers').click(function() {
			var btnsDelete =
				[
					{
						text: 'Ok',
						"class": 'btn btn-primary',
						click: function() {
							$(this).dialog('close');
							$.ajax({
								type: 'POST',
								data: {id: currentRow.id, login: currentRow.login},
								url: '/data/manage_users/delete_user',
								dataType: 'json',
								success: function(data) {
									if(data.success) {
										oTable.fnReloadAjax();
										$('#btnEditMamageUsers, #btnOnMamageUsers, #btnOffMamageUsers, #btnDeleteMamageUsers').attr('disabled', true);
							
									}
									showDialog('MamageUsers',data.message,'auto','auto');
								}
							});
						}
					},
					{
						text: 'Cancel',
						"class": 'btn btn-primary',
						click: function() {
							$(this).dialog('close');
						}
					}
				];

			showDialog('Information', '<p align="center">Delete this User?</p>', 'auto', 'auto', btnsDelete);
		});
