extends layouts/extensions

block content
    include includes/header-nav
    
    include includes/sidebar
    #content
        include includes/content-header
        .container-fluid
            .row-fluid
                .span3
                .span6
                    .widget-box
                        .widget-title
                            h5 Change password
                        .widget-content.nopadding
                            form.form-horizontal(name="change_password", method="post", action="/data/password/save_password")
                                .control-group
                                    label.control-label Password
                                    .controls
                                        input(type="password", name="password_o")
                                .control-group
                                    label.control-label New password
                                    .controls
                                        input(type="password", name="password_n1")
                                .control-group
                                    label.control-label Confirm New Password
                                    .controls
                                        input(type="password", name="password_n2")
                                .form-actions
                                    button.btn.btn-primary(type="submit") Save
                .span3
    include includes/footer
    script(src="/js/jquery.validate.js")