extends layouts/extensions

block content
	include includes/header-nav
	
	include includes/sidebar
	#content
		include includes/content-header
		.container-fluid
			.row-fluid
				.span12
					.widget-box
						.widget-title
							span.icon
								i.icon-signal
							h5 System Information
						.widget-content.center
							.row-fluid
								.span9
									.flot-items(style="padding-bottom: 30px;")
									div(style="border-top: 1px #d6d6d6 solid; text-align: center; padding-top: 10px;")
										.easy-pie-items
								.span3
									ul.chart-values
	include includes/footer
	script(type="text/javascript", src="/js/flot/jquery.flot.js")
	script(type="text/javascript", src="/js/flot/jquery.flot.navigate.js")
	script(type="text/javascript", src="/js/flot/jquery.flot.time.js")
	script(type="text/javascript", src="/js/flot/jquery.flot.resize.js")
	script(type="text/javascript", src="/js/flot/jquery.flot.navigationControl.js")
	script(type="text/javascript", src="/js/easypiechart/jquery.easypiechart.js")
	link(rel="stylesheet", href="/js/flot/css/iconfontsFico.css" )
	style
		.blink {margin: auto 3px;}
		.clicking {cursor: pointer;}
		.chart-values li {margin: 10px auto;}
		.chart-value {font-weight: bold;}
		.chart-line {width: 100%; height: 300px;}
		.easy-pie-item {display: inline-block; text-align: center; margin: 0 10px;}
			.easy-pie-item .easy-pie-chart {line-height: 110px; width: 110px; height: 110px;}
			.easy-pie-item span {width: 110px; text-align: center; position: absolute;}
			div.xAxis div.tickLabel {    
				transform: rotate(-60deg);
				-ms-transform:rotate(-60deg); /* IE 9 */
				-moz-transform:rotate(-60deg); /* Firefox */
				-webkit-transform:rotate(-60deg); /* Safari and Chrome */
				-o-transform:rotate(-60deg); /* Opera */
				/*rotation-point:60% 40%;*/ /* CSS3 */
				/*rotation:270deg;*/ /* CSS3 */
			}
	script(type="text/javascript", src="/js/custom/rrd.js")
		