extends layouts/m_phonebook

block content
  link(rel='stylesheet', href='/js/custom/m_phonebook/css/jquery.dataTables.css')
  style
    .sdataTables_filter {position: relative;}
  .container-fluid(style="margin: 20px;")
    .row-fluid
      .span12
        h4 Phone book
        #table-block
                        
  include includes/footer
  script( src="js/custom/m_phonebook/jquery.dataTables.js")
  script(src="/js/custom/m_phonebook/common.js")
  script(src="/js/custom/m_phonebook/list.js")