#tab2.tab-pane
  form.form-horizontal(action='/data/module_provisioning/save', method='post')
    input(type="hidden", name="module[provisioning][item_id]", value=req_params.id_ext)
    .control-group
      label.control-label Mac address
      .controls.left
        input.span6(type='text', name='module[provisioning][mac_address]')
    .control-group
      label.control-label Phone model
      .controls.left
        input(name='module[provisioning][phone_model]', style='width: 200px;', 'class'='input-select2')

script(type='text/javascript')
  function getListModels() {
    var results = [];
  
    $.ajax({
      type: 'GET',
      url: '/data/module_provisioning/list',
      dataType: 'json',
      async: false,
      success: function(data) {
        if (data.success)
          data.results.forEach(function(item) {
            results.push({id: item.id, text: item.name});
          });
      }
    });
    
    return results;
  }
  
  select2Input('input[name="module[provisioning][phone_model]"]', {data: getListModels()}, false, false);
  
  currentValidate.rules["module[provisioning][mac_address]"] = {
    required: true,
    regexp: /^([0-9A-F]{2}[:]){5}([0-9A-F]{2})$/,
    remote: '/data/auth/list',
    maxlength: 50
  };

  currentValidate.messages["module[provisioning][mac_address]"] = {
    required: "Please enter mac address",
    regexp: 'MAC-address',
    maxlength: regexpMessage.max_character
  };
  
  fillFormModule('/data/module_provisioning/load', $('input[name="module[provisioning][item_id]"]').val());