script(type='text/javascript', src='/js/jquery.validate.js')
script(type='text/javascript', src='/js/modal/common.js')
script(type='text/javascript', src='/js/modal/data_default.js')
script(type='text/javascript', src='/js/modal/ace/ace.js')
block content
